<%= simple_form_for task do |f| %>
  <div class="row">
    <div class="span12">
      <%= f.input :description, input_html: { class: 'input-block-level', rows: 5 } %>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <%= f.input :task_comment, input_html: { class: 'input-block-level', rows: 5 } %>
    </div>
  </div>

  <div class="row">
    <div class="span2">
      <%= f.association :task_status, include_blank: false, input_html: { class: 'input-block-level' } %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Сохранить', class: 'btn-primary' %>
    <%= link_to 'Отмена', tasks_path, class: 'btn' %>
  </div>
<% end %>
