<div class="page-header">
  <h1>Просмотр закупочной комиссии</h1>
</div>

<p>
  <b>Наименование:</b>
  <%= @commission.name %>
</p>

<p>
  <b>Подразделение:</b>
  <%= @commission.department.try(:name) %>
</p>

<p>
  <b>Тип комиссии:</b>
  <%= @commission.commission_type.try(:name) %>
</p>

<legend>Члены комиссии</legend>

<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
      <th>ФИО</th>
      <th>Должность</th>
      <th>Статус</th>
      <th>Право вето</th>
    </tr>
  </thead>
  <tbody>
    <% @commission.commission_users.each do |commission_user| %>
    <tr>
      <td><%= commission_user.user.fio_full %></td>
      <td><%= commission_user.user_job %></td>
      <td><%= commission_user.assoc_status.try(:name) %></td>
      <td><%= commission_user.is_veto ? "есть" : "нет" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Редактировать', edit_commission_path(@commission) %> |
<%= link_to_session_or_default 'Вернуться к списку', :filter_commission_path, commissions_path %>
