<p id="notice"><%= notice %></p>

<p>
  <b>Type criterion:</b>
  <%= @criterion.type_criterion %>
</p>

<p>
  <b>Name:</b>
  <%= @criterion.name %>
</p>

<p>
  <b>Parent:</b>
  <%= @criterion.parent_id %>
</p>


<%= link_to 'Edit', edit_criterion_path(@criterion) %> |
<%= link_to 'Back', criterions_path %>
