<h1>Listing units</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Symbol n</th>
    <th>Symbol i</th>
    <th>Letter n</th>
    <th>Letter i</th>
    <th>Unit title</th>
    <th>Unit subtitle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @units.each do |unit| %>
  <tr>
    <td><%= unit.code %></td>
    <td><%= unit.name %></td>
    <td><%= unit.symbol_n %></td>
    <td><%= unit.symbol_i %></td>
    <td><%= unit.letter_n %></td>
    <td><%= unit.letter_i %></td>
    <td><%= unit.unit_title_id %></td>
    <td><%= unit.unit_subtitle_id %></td>
    <td><%= link_to 'Show', unit %></td>
    <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
    <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unit', new_unit_path %>
