<p id="notice"><%= notice %></p>

<p>
  <b>Commission:</b>
  <%= @commission_user.commission_id %>
</p>

<p>
  <b>User:</b>
  <%= @commission_user.user_id %>
</p>

<p>
  <b>Status:</b>
  <%= @commission_user.status %>
</p>

<p>
  <b>Is veto:</b>
  <%= @commission_user.is_veto %>
</p>


<%= link_to 'Edit', edit_commission_user_path(@commission_user) %> |
<%= link_to 'Back', commission_users_path %>
